.body {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}
.searchtext {
  width: 400px;
  height: 40px;
  border-radius: 2px;
}
.searchbtn {
  width: 200px;
  height: 40px;
  border-radius: 2px;
  text-align: center;
}
.App-map {
  height: 500px;
  width: 500px;
}
.App-Edit {
  height: 500px;
  width: full;
}

.farmers-map {
  height: 500px; /* Fixed height */
  width: 100%; /* Full width */
}

@media (max-width: 640px) {
  .farmers-map {
    /* Set a percentage-based height to maintain aspect ratio */
    height: 50vh; /* Adjust the value as needed */
    /* Allow the map to fill the width of its container */
    width: 100%;
  }
}
